.picto-item {
  position: relative;  /*les .picto-item deviennent référents*/
  cursor: grab;
  border-radius: 50%;
}

/* on génère un élément :after lors du survol et du focus :*/

.picto-item:hover:after,
.picto-item:focus:after {
  content: attr(aria-label);  /* on affiche aria-label */
  position: absolute;
  top: .4em;
  left: 130%;
	transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne*/
  padding: 10px 20px;
	background: rgb(66, 91, 119);
  background: rgba(66, 91, 119, 0.9); /* Bleu see-through */
  color: #FFF;
  border-radius: 4px;
  font-size: 12px;
	opacity:1;
	transition: .5s ease;
}

/* on génère un second élément en :before pour la flèche */

[aria-label]:hover:before,
[aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: .4em;
	left: 50%;
	transform: translateX(-50%); /* on centre horizontalement  */
  font-size: 12px;
  color: #425b77;

}

/* pas de contour durant le :focus */
[aria-label]:focus {
  outline: none;
}


.notify-container {
  position: relative;
	display: inline-block;
  margin-top: 10px;
}

body {
  background: #fbfbfd;
	margin: 0; padding: 0;
	font: normal 11px  'Lucida Grande',Arial,Verdana, Helvetica, sans-serif;
	line-height: 0.8;
  font-size: 0.8em;
}

img.image_menu {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

img.image_menu_lg {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
img.image_menu_md {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.container  {width: 100%; margin: 0 auto; vertical-align: middle; text-align: center; font-size: 1.2em;  color: #4d5253;}
#content_haut {	background: #f5f5f7; margin: 0 auto; padding: 0 0; float: right; width: 100%; height: 88px;}
#content_bas {	background: #fbfbfd; float: right; width: 100%; font-size: 10px;}
#content_millieu {	background: #fbfbfd; float: right; width: 100%; font-size: 10px; }

.btn-menu {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    background-color: #f5f5f7;
    padding: 7px 20px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
		border-radius: 50%;
}



input[type=submit].bouton_auth {
    width: 90%;
    background-color: #0082D5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



a { color: #707474; font: normal 12px  'Lucida Grande',Arial,Verdana, Helvetica, sans-serif; line-height: 0.8;}
a.titre {color: #1a5c9a;outline: none;text-decoration: none;}


select {
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #94AAB6;
		color: #566065;
    font-family: 'Lucida Grande','Arial','helvetica_neue', Verdana,Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    width: 90%;
    margin: 6px 0;
    display: inline-block;
    font-family: 'Lucida Grande','Arial','helvetica_neue', Verdana,Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #ccc;
    font-size: 12px;
		color: #707474;
    border-radius: 4px;
    box-sizing: border-box;
		cursor: pointer;
}

.date1{
	margin-top: 13px;
	position: relative;
  color: #777;
  font-size: 13px;
  padding: 0 0 0 23px;
}

.date1:before {
  content: "\f017";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  color: #fd9b28;
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 15px;
}
.cadre-titre-white {
  color: white;
  font: normal 12px  'Lucida Grande',Arial,Verdana, Helvetica, sans-serif;
}
.cadre-titre {
  font: normal 12px  'Lucida Grande',Arial,Verdana, Helvetica, sans-serif;
  font-weight: bold;
}
.cadre-titre-h1 {
  font: normal 16px  'Lucida Grande',Arial,Verdana, Helvetica, sans-serif;
}
td {
  font: normal 12px  'Lucida Grande',Arial,Verdana, Helvetica, sans-serif;
}

sub.mini {
  font: normal 7px  'Lucida Grande',Arial,Verdana, Helvetica, sans-serif;
}


tr.arrondi {
	padding: 5px;
	border-top: solid 1px #5D1212;
	border-bottom: solid 1px #5D1212;
  border: 0px;
}

td.center {
  border: 0px;
text-align: center;
padding-left: 10px;
vertical-align: middle;

}

.taille85 {
  width: 85px;
  }


.bgcolor_bleu { background: #1a5c9a;}
.bgcolor_vert { background: #1aa69a;}
.bgcolor_gris { background: #dddddd;}

table, th, td {
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  border-spacing : 0px;
  border-collapse : collapse;
}

td.left{
  border: 0px;
text-align: left;
padding-left: 10px;
vertical-align: middle;
}
td.right
{
  border: 0px;
text-align: right;
padding-left: 10px;
vertical-align: middle;
}

table.nuts1 {
  border: 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-spacing : 0px;
  border-collapse : collapse;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 90%;
}
